node_modules

hardhat.config.js

artifacts
cache

frontend/env
frontend/RSAMessengerDapp/__pycache__
frontend/RSAMessengerDapp/RSAMessengerDapp/__pycache__
frontend/RSAMessengerDapp/Messenger/__pycache__
frontend/RSAMessengerDapp/Messenger/migrations
frontend/RSAMessengerDapp/db.sqlite3